.squares-container {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 50%;
  row-gap: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-bottom: 65%;
  width: 65%;
  position: relative;
  transform: rotate(-4deg);
  filter: drop-shadow(0 10px 20px rgb(165, 165, 165));
  animation: turnSquare 2s ease;
  z-index: 1;
}

@keyframes turnSquare {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(-4deg);
  }
}
.active-square-home,
.active-square-work,
.active-square-about,
.active-square-connect {
  transition: transform 1.5s ease-in-out;
}

.active-square-work {
  transform: rotate(86deg);
}

.active-square-about {
  transform: rotate(176deg);
}

.active-square-connect {
  transform: rotate(266deg);
}

.squares-container > div {
  border: none;
  color: white;
  height: 50%;
  width: 50%;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  text-align: center;
}

.squares-container > div > h2 {
  font-size: 1rem;
}

.square-home {
  background-color: #7dae89;
  top: 0;
  left: 0;
}
.square-home:hover {
  background-color: rgba(125, 174, 137, 0.5960784314);
}

.square-work {
  background-color: #b4746d;
  top: 50%;
  left: 0;
}
.square-work:hover {
  background-color: rgba(180, 116, 109, 0.5960784314);
}
.square-work > h2 {
  transform: translateY(4px) rotate(-90deg);
}

.square-about {
  background-color: #58636c;
  top: 50%;
  left: 50%;
}
.square-about:hover {
  background-color: rgba(88, 99, 108, 0.5960784314);
}
.square-about > h2 {
  transform: rotate(180deg);
}

.square-connect {
  background-color: #dabfa7;
  top: 0;
  left: 50%;
}
.square-connect:hover {
  background-color: rgba(218, 191, 167, 0.5960784314);
}
.square-connect > h2 {
  transform: translateY(4px) rotate(90deg);
}

.square {
  background-color: black;
  content: "";
  display: block;
}

@media screen and (min-width: 992px) {
  .squares-container {
    top: 0;
    padding-bottom: 30%;
    width: 30%;
  }

  .squares-container > div > h2 {
    font-size: 1.4rem;
  }

  .active-square-work {
    transform: translateX(75%) rotate(86deg);
  }

  .active-square-about {
    transform: translateX(75%) rotate(176deg);
  }

  .active-square-connect {
    transform: translateX(75%) rotate(266deg);
  }
}
