.Welcome-Container {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  transition: height 0.2s, width 0.2s, margin-top 0.2s, margin-left 0.2s, opacity 0.2s;
  border: none;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.welcome-container:hover {
  height: 330px;
  width: 330px;
  margin-top: -165px;
  margin-left: -165px;
}

.mouseDown:hover {
  height: 350px;
  width: 350px;
  margin-top: -175px;
  margin-left: -175px;
}

.child {
  position: absolute;
  height: 70%;
  width: 70%;
  margin-top: 15%;
  margin-left: 15%;
}

.Square {
  background-color: white;
  border-radius: 50%;
  border: none;
}

.dayO {
  opacity: 0.12;
}

.nightO {
  opacity: 0.45;
}

.img {
  border-radius: 50%;
  border: none;
  transition: opacity 0.2s;
}

.day {
  filter: drop-shadow(0 10px 20px rgb(82, 82, 82));
}

.night {
  filter: drop-shadow(0 10px 20px rgb(43, 43, 43));
}

.fadeout {
  -webkit-animation: fadeout 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 1s;
  /* Firefox < 16 */
  -ms-animation: fadeout 1s;
  /* Internet Explorer */
  -o-animation: fadeout 1s;
  /* Opera < 12.1 */
  animation: fadeout 1s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
