@import "../Common.scss";

.Circle-Container {
  height: 60vh;
  width: 60vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20vh);
}

.Circle {
  background-image: linear-gradient(to right, #18a86a 0%, #42c59c 100%);
  border-radius: 50%;
  color: white;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 20% 40%;
  align-items: center;
  filter: drop-shadow(0 10px 20px rgb(165, 165, 165));
  animation: fadeInAndTurn 3s;
}

@keyframes fadeInAndTurn {
  from {
    opacity: 0;
    transform: rotate(3600deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.Circle__Logo__bg,
.Circle__Logo {
  border-radius: 50%;
  width: 8vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Circle__Logo__bg {
  height: 8vh;
  background-color: white;
}

.Circle__Logo {
  border: 1px solid white;
  opacity: 75%;
  z-index: 1;
  filter: brightness(1.25);
}

.Circle__Title {
  font-size: 6vh;
  line-height: 6.5vh;
  padding-top: 5vh;
  text-align: center;
}

.Circle-Nav {
  margin: 0 auto;
  width: 90%;
}

.Circle-Nav__btn {
  @include Button__No-Style;
  border: 1px solid white;
  border-radius: 5%;
  color: white;
  font-size: 3vh;
  margin: 0 5vh;
  padding: 0.25vh 2vh 0.5vh 2vh;

  &:hover {
    background-color: white;
    color: #18a86a;
    transition: all 0.2s linear;
  }
}

.Circle-Nav__btn__Work {
}

.Circle-Nav__btn__About {
  float: right;
}

.Work-Btn__Active {
  transform: rotate(-25deg);
  transition: transform 1.5s ease-in-out;
}

.About-Btn__Active {
  transform: rotate(25deg);
  transition: transform 1.5s ease-in-out;
}

.Circle-Nav__btn__Active {
  background-color: white;
  color: #18a86a;
}

.Circle-Desc {
  padding-bottom: 11vh;
  opacity: 0.7;
  text-align: center;
}

.Circle-Desc__Title {
  font-size: 4vh;
}

.Circle-Desc__Quote {
  font-size: 2vh;
  margin: 0 auto;
  width: 60%;
}

@media screen and (min-width: 600px) {
  .col {
    width: 50%;
  }
}

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 900px) {
  .col {
    width: 33.33%;
  }
}

@media screen and (min-width: 1024px) {
  .col {
    width: 25%;
  }
}

@media screen and (min-width: 1300px) {
  .col {
    width: 20%;
  }
}

@media screen and (min-width: 1550px) {
  .col {
    width: 16.66%;
  }
}
