@use "../colors" as c;

.connect-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  text-align: left;

  // fadein
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.connect-container > div {
  text-align: center;
}

.connect-container > div > a {
  font-size: 3rem;
  margin: 0 20px 10px 20px;
}

.connect-container > div > a > i {
  color: c.$base-black;

  &:hover {
    color: rgb(54, 54, 54);
  }
}

@media screen and (min-width: 992px) {
  .connect-container {
    background: transparent;
    position: absolute;
    margin-top: 205px;
    margin-left: 10%;
    width: 40%;
    top: 0;
    left: 0;
  }

  .connect-container > a {
    margin: 0 20px;
  }
}
