@use "../colors" as c;
@import "../Common.scss";

.squares-container {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 50%;
  row-gap: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-bottom: 65%;
  width: 65%;
  position: relative;
  transform: rotate(-4deg);
  filter: drop-shadow(0 10px 20px rgb(165, 165, 165));
  animation: turnSquare 2s ease;
  z-index: 1;
}

@keyframes turnSquare {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(-4deg);
  }
}

.active-square-home,
.active-square-work,
.active-square-about,
.active-square-connect {
  transition: transform 1.5s ease-in-out;
}

.active-square-work {
  transform: rotate(86deg);
}
.active-square-about {
  transform: rotate(176deg);
}
.active-square-connect {
  transform: rotate(266deg);
}

.squares-container > div {
  border: none;
  color: white;
  height: 50%;
  width: 50%;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  text-align: center;
}

.squares-container > div > h2 {
  font-size: 1rem;
}

.square-home {
  background-color: c.$base-green;
  top: 0;
  left: 0;

  &:hover {
    background-color: #7dae8998;
  }
}

.square-work {
  background-color: c.$base-red;
  top: 50%;
  left: 0;

  &:hover {
    background-color: #b4746d98;
  }
  > h2 {
    transform: translateY(4px) rotate(-90deg);
  }
}

.square-about {
  background-color: c.$base-black;
  top: 50%;
  left: 50%;

  &:hover {
    background-color: #58636c98;
  }

  > h2 {
    transform: rotate(180deg);
  }
}

.square-connect {
  background-color: c.$base-beige;
  top: 0;
  left: 50%;

  &:hover {
    background-color: #dabfa798;
  }
  > h2 {
    transform: translateY(4px) rotate(90deg);
  }
}

.square {
  background-color: black;
  content: "";
  display: block;
  // display: grid;
  // height: 100%;
  // grid-template-columns: 100%;
  // grid-template-rows: 40% 20% 40%;
  // align-items: center;
  // filter: drop-shadow(0 10px 20px rgb(165, 165, 165));
  // animation: fadeInAndTurn 3s;
}

// .Square__Logo__bg,
// .Square__Logo {
//   border-radius: 50%;
//   width: 8vh;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .Square__Logo__bg {
//   height: 8vh;
//   background-color: white;
// }

// .Square__Logo {
//   border: 1px solid white;
//   opacity: 75%;
//   z-index: 1;
//   filter: brightness(1.25);
// }

@media screen and (min-width: 992px) {
  .squares-container {
    top: 0;
    padding-bottom: 30%;
    width: 30%;
  }

  .squares-container > div > h2 {
    font-size: 1.4rem;
  }

  .active-square-work {
    transform: translateX(75%) rotate(86deg);
  }
  .active-square-about {
    transform: translateX(75%) rotate(176deg);
  }
  .active-square-connect {
    transform: translateX(75%) rotate(266deg);
  }
}
