* {
  font-family: "Assistant", sans-serif;
  margin: 0;
  padding: 0; /* By default browsers apply some padding or margin on elements */
  box-sizing: border-box; /* This changes the box model so the margins or paddings are not added to the total height and width */
}
